
<style>

/*  .nav-pills >li >a {
    color: gray;
    //background-color: green;
 }
   .nav-pills > li > a:hover {
      background-color: green;
 }
 .nav-pills .active > a {
    background-color:green;
    color:gray;
}

 .active {
    background-color:green;
    color:gray;
}*/

</style>

<ul id="eventsWeek" class="green nav nav-pills nav-justified">
      <li><a href="#">Tuesday</a></li>
      <li><a href="#">Wednesday</a></li>
      <li><a href="#">Thursday</a></li>
      <li class="active"><a href="#">Today</a></li>
      <li><a href="#">Saturday</a></li>
      <li><a href="#">Sunday</a></li>
      <li><a href="#">Monday</a></li>
</ul>

<div ng-repeat="n in events" class="post" ng-click="loadImages(one)">{{n.name}}</div>



<script>
	

	    $("#eventsWeek > li").click(function (e) {
          	$('#eventsWeek > li').removeClass('active');
          	$(this).addClass('active');
        });
	
</script>