
<style>

/*  .nav-pills >li >a {
    color: gray;
    //background-color: green;
 }
   .nav-pills > li > a:hover {
      background-color: green;
 }
 .nav-pills .active > a {
    background-color:green;
    color:gray;
}

 .active {
    background-color:green;
    color:gray;
}*/

.eventTitle{
  color:green;

}
.where{
  color:gray;
  font-size: 12px;
}
.description{
  color:black;
  font-size: 12px;
}


</style>

<ul id="eventsWeek" class="green nav nav-pills nav-justified">
      <li><a href="#">Tuesday</a></li>
      <li><a href="#">Wednesday</a></li>
      <li><a href="#">Thursday</a></li>
      <li class="active"><a href="#">Today</a></li>
      <li><a href="#">Saturday</a></li>
      <li><a href="#">Sunday</a></li>
      <li><a href="#">Monday</a></li>
</ul>

<div ng-repeat="n in events" class="event" ng-click="loadImages(one)">
  <h4 class="eventTitle">{{n.name}}</h4>
  <div class="where">{{n.where}}</div>
  <p class="description">{{n.description}}</p>
</div>



<script>
	

	    $("#eventsWeek > li").click(function (e) {
          	$('#eventsWeek > li').removeClass('active');
          	$(this).addClass('active');
        });
	
</script>