<style>
    #title{
        font-style: italic;
        text-align: center;
        color:#254117;
        font-family: Gotham Narrow;             
    }
</style>


<h2 id="title">News</h2>
<p data-ng-repeat="newsItem in newsItems" data-ng-bind-html="renderHtml(newsItem.title)"></p>
<p>Mike Miles got a contract <a class="internal" href="#guideposts/one">extension</a> yesterday.</p>
<p>Deion Sanders' <a class="internal" href="" ng-click="panHere(32.708034, -96.812912)">Prime Prep</a> is set to close after ...</p>
<p>Mayor Mike Rawlings was on Channel 4 <a class="internal"  href="#guideposts/home_rule_youtube">last night</a> to talk about Home Rule</p>

